<h1>Listing movies</h1>

<table class="table table-striped table-hover">
  <tr>
    <th>Title</th>
    <th>Director</th>
    <th>Year</th>
    <th>Votes</th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= link_to movie.title, movie %></td>
    <td><%= link_to movie.director.name, movie.director %></td>
    <td><%= movie.year %></td>
    <td><%= movie.votes.count %>
    <td>
      <%= form_for(@vote) do |f| %>
        <%= f.collection_select :user_id, User.all, :id, :username %>
        <%= f.hidden_field :movie_id, :value => movie.id %>
        <%= f.submit %>
      <% end %>
    </td>
  </tr>

<% end %>
</table>

<br />

<%= link_to 'New Movie', new_movie_path %>
