<h1>Listing movies</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Director</th>
    <th>Year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= movie.title %></td>
    <td><%= link_to movie.director.name, movie.director %></td>

    <a href="http://localhost:3000/directors/<%= movie.director.id %>"><%= movie.director.name %></a>
    <%= link_to movie.director.name, "http://localhost:3000/directors/#{movie.director.id}" %>
    <%= link_to movie.director.name, director_url(movie.director.id) %>
    <%= link_to movie.director.name, director_url(movie.director) %>
    <%= link_to movie.director.name, movie.director %>









    <td><%= movie.year %></td>
    <td><%= link_to 'Show', movie %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movie', new_movie_path %>
