<!DOCTYPE html>
<html>
<head>
  <title>Amdb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">MoviePicker</a>
      <ul class="nav">
        <li><%= link_to "Directors", directors_url %></li>
        <li><%= link_to "Movies", movies_url %></li>
        <li><%= link_to "Roles", roles_url %></li>
        <li><%= link_to "Actors", actors_url %></li>
        <li>
          <% if session[:user_id].present? %>
            <%= link_to "Sign Out", '/sessions', :method => 'delete' %>
          <% else %>
            <%= link_to "Sign In", '/sessions/new' %>
            </li><li>
            <%= link_to "Sign Up", '/users/new' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>







